.header 
{
  background-color: powderblue;
  text-align: center;
  padding: 40px;
color:white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.column 
{
  float: left;
  width: 33%;
  padding: 0px;
}
.row:after 
{
  content: "";
  display: table;
  clear: both;
}

table
{
	border: 2px solid black;
	text-align: center;
  background-color: lightblue;
}

input[type=text] 
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
font-size: 10px;
  box-sizing: border-box;
  border: 1px solid red;
  border-radius: 5px;
}

input[type=password] 
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
font-size: 20px;

  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}
input[type=submit] 
{
  width: 100%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover 
{
  background-color: #45a049;
}



.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}
.home a
{
font-size: 20px;
	text-align: center;
  background-color: lightblue;
}

